@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='3840' height='2160' preserveAspectRatio='none' viewBox='0 0 3840 2160'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1031%26quot%3b)' fill='none'%3e%3crect width='3840' height='2160' x='0' y='0' fill='url(%23SvgjsLinearGradient1032)'%3e%3c/rect%3e%3cpath d='M2359.7809994619893-65.80998934573144L2108.203028738909-223.01335286612644 1998.1869688198565 232.9552849786918z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M853.072%2c2492.698C1004.896%2c2490.876%2c1156.155%2c2426.117%2c1227.832%2c2292.266C1296.34%2c2164.333%2c1253.609%2c2012.09%2c1176.156%2c1889.366C1104.601%2c1775.988%2c986.912%2c1706.312%2c853.072%2c1698.467C702.17%2c1689.622%2c539.169%2c1720.351%2c456.976%2c1847.213C368.728%2c1983.42%2c377.516%2c2163.125%2c462.4%2c2301.453C543.677%2c2433.904%2c697.683%2c2494.563%2c853.072%2c2492.698' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1712.402%2c607.116C1831.128%2c615.816%2c1966.9%2c618.865%2c2034.203%2c520.672C2107.787%2c413.315%2c2089.138%2c267.611%2c2021.193%2c156.6C1956.183%2c50.385%2c1836.647%2c-13.533%2c1712.402%2c-5.1C1600.173%2c2.518%2c1520.096%2c94.112%2c1468.578%2c194.108C1421.983%2c284.549%2c1411.363%2c391.213%2c1463.085%2c478.823C1514.011%2c565.085%2c1612.497%2c599.795%2c1712.402%2c607.116' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M3593.832632942066 1706.548948579214L3335.5089188114753 1375.9096722807271 3004.8696425129883 1634.2333864113182 3263.193356643579 1964.8726627098051z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M2096.708%2c1855.146C2206.824%2c1860.865%2c2331.443%2c1842.523%2c2385.57%2c1746.458C2439.114%2c1651.428%2c2386.528%2c1538.107%2c2326.748%2c1446.871C2273.89%2c1366.199%2c2193.154%2c1305.62%2c2096.708%2c1305.597C2000.225%2c1305.574%2c1915.107%2c1363.428%2c1866.481%2c1446.762C1817.436%2c1530.814%2c1807.736%2c1634.159%2c1855.526%2c1718.931C1904.124%2c1805.135%2c1997.882%2c1850.013%2c2096.708%2c1855.146' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1684.7423029683919 933.3912260262068L1564.3324004802264 1381.0601114731596 1957.5364130573078 1283.023340307391z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M3104.0605569832824 964.5795914317985L3518.6004241864152 715.4989102125212 2854.979875764005 550.0397242286656z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M3828.1619932298713 507.1556751635718L3488.6759394194187 846.6417289740244 3828.1619932298713 1186.127782784477 4167.648047040324 846.6417289740243z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M-44.13205411499634 332.667057145312L382.3099646778345 454.9473383278272 504.5902458603497 28.505319534996374 78.14822706751886-93.77496164751881z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M321.723%2c873.507C436.459%2c870.048%2c538.65%2c807.776%2c598.032%2c709.541C659.728%2c607.477%2c679.801%2c480.966%2c622.103%2c376.59C562.709%2c269.146%2c444.418%2c205.481%2c321.723%2c209.694C205.563%2c213.683%2c114.343%2c296.082%2c55.07%2c396.061C-5.688%2c498.545%2c-43.129%2c623.103%2c14.965%2c727.121C74.176%2c833.14%2c200.345%2c877.167%2c321.723%2c873.507' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1031'%3e%3crect width='3840' height='2160' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='10.94%25' y1='-19.44%25' x2='89.06%25' y2='119.44%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1032'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='%2300459e' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
  width: 100%;
  height: 90vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  overflow-y: scroll;
  overflow-x: hidden
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.claybg {
  backdrop-filter: blur(4px); background-color: rgba(255, 255, 255, 1); border-radius: 1.05rem; box-shadow: 35px 35px 68px 0px rgba(145, 192, 255, 0.5), inset -4px -4px 16px 0px rgba(145, 192, 255, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
}

.glassbg {
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 1.05rem;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.btngrad {
  background-image:#ff99c7;background-image:  
  radial-gradient(at 98% 63%, hsla(212,67%,63%,1) 0, transparent 55%),  
  radial-gradient(at 77% 72%, hsla(324,74%,74%,1) 0, transparent 46%),  
  radial-gradient(at 18% 82%, hsla(206,87%,70%,1) 0, transparent 47%),  
  radial-gradient(at 92% 12%, hsla(188,75%,76%,1) 0, transparent 49%),  
  radial-gradient(at 24% 18%, hsla(68,66%,61%,1) 0, transparent 59%),  
  radial-gradient(at 45% 10%, hsla(198,74%,67%,1) 0, transparent 42%),  
  radial-gradient(at 34% 70%, hsla(33,68%,73%,1) 0, transparent 57%);
}

.blue-glassmorphism {
  background: rgb(39, 51, 89, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}


.screen {
  width: 100%;
  height: 100%;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.card {
  position: relative;
  flex: 0 0 40%;
}

.card-content-container {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
  pointer-events: none;
}

.card-content-container.open {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 1;
  overflow: hidden;
  padding: 40px 0;
}

.card-content {
  pointer-events: auto;
  position: relative;
  border-radius: 20px;
  background: #1c1c1e;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.open .card-content {
  max-width: 800px;
  height: auto;
  overflow: hidden;
}

.card-open-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.card-image-container {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 150%;
  height: auto;
  transform: translateZ(0);
}

h2 {
  color: #fff;
  margin: 8px 0;
}

.category {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}

.overlay {
  z-index: 1;
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  will-change: opacity;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.overlay a {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100vw;
  left: 50%;

  transform: translateX(-50%);
}

.content-container {
  padding: 460px 35px 35px 35px;
  max-width: 700px;
  width: 90vw;
}

@media only screen and (max-width: 800px) {
  .card {
    flex: 0 0 50%;
  }

  .card:nth-child(4n + 1),
  .card:nth-child(4n + 4) {
    flex: 0 0 50%;
  }
}

@media only screen and (max-width: 600px) {
  .card {
    flex: 1 0 100%;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .card:nth-child(4n + 1),
  .card:nth-child(4n + 4) {
    flex: 1 0 100%;
    max-width: 100%;
  }

  .card-content-container.open {
    padding: 0;
  }
}  